/.vscode
/oracle.egg-info
__pycache__/
__pycache__
*.pyc
.env
*.pyo
*.pyd
*.log
.DS_Store
env/
venv/
ENV/
build/
dist/
*.sqlite3
*.db
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
*.log.*
.idea/
*.iml
.ipynb_checkpoints/
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.dmypy.sock
*.json
*.pyc